#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.custom-footer, .custom-header {
  background-color: #003049;
}

.title-navbar {
  padding-left: 100px;
}

/*.dropdown-submenu {*/
/*  position: relative;*/
/*}*/

/*.dropdown-submenu .dropdown-menu {*/
/*  position: absolute;*/
/*  left: 100%;*/
/*  top: 0;*/
/*  margin-top: -5px;*/
/*  display: none;*/
/*  min-width: 200px;*/
/*}*/

/*.dropdown-submenu:hover > .dropdown-menu {*/
/*  display: block;*/
/*}*/

/* боковое меню */
#sidebarMenu {
  --bs-offcanvas-width: 200px; /* Ширина только для конкретного меню */
  font-size: 12px;
}
.form-radio-item {
  display: flex;
  align-items: start;
  gap: 5px; /* Расстояние между радио-кнопкой и текстом */
}
.offcanvas-header {
  padding-bottom: 0.1rem; /* Уменьшает отступ снизу */
}

.offcanvas-body {
  padding-top: 0.2rem; /* Уменьшает отступ сверху */
}
.form-radio-item {
  padding-top: 0.4rem;
}

.shop-container {
  margin-top: 30px; /* Или padding-top: 80px, в зависимости от дизайна */
}

/*Search*/
.btn-search {
  background: #669bbc;
  color: white;
}

.custom_spinner {
  width: 9rem;
  height: 9rem;
}

.card {
  padding: 2rem;

  display: block !important;
  opacity: 1 !important;
}
.card-title {
  font-size: 18px;
}
.read-the-docs {
  color: #888;
}

.img-fluid {
  width: 100px;
  height: 140px;
}
.raiting-cart {
  color: #c1121f;
}
.categoty-price-card {
  color: #780000;
  font-size: 14px;
  /*margin-top: 10px;  !* Увеличивает расстояние сверху *!*/
  /*margin-bottom: 5px; !* Уменьшает расстояние снизу между <p> *!*/
}
.description-card {
  color: #669bbc;
  font-size: 12px;
}
.btn-description {
  color: #005f73;
  font-size: 14px;
}
.btn-bay {
  width: 9rem;
  background-color: #669bbc;
  color: white;
}
.basket-icon {
  width: 24px; /* Уменьшает размер */
  height: 24px;
  cursor: pointer; /* Указатель при наведении */
}
.basket-icon-delete {
  width: 24px; /* Уменьшает размер */
  height: 24px;
  cursor: pointer; /* Указатель при наведении */
}
.price-quantity {
  margin-right: 20px;
  background-color: #669bbc;
}
.basket-list {
  z-index: 100;
  position: fixed;
  margin-top: 30px;
  right: 10px;
  width: 430px;
  max-width: 90%;
  border: 1px solid #003049;

  animation: swow-basket 500ms ease-in-out;
}
.title-basket, .design-btn {
  background-color: #669bbc;
}
.cursor-pointer {
  cursor: pointer;
}
.design-btn {
  background-color: #669bbc;
  color: white;
  padding: 2px 6px; /* Минимальные отступы */
  font-size: 14px; /* Уменьшаем размер шрифта */
  line-height: 1; /* Убираем лишнее пространство вокруг текста */
  border: none; /* Убираем границы */
  /*display: inline-block; !* Чтобы кнопка не растягивалась *!*/
  display: block; /* Чтобы кнопка не растягивалась */
  /*width: auto; !* Автоматическая ширина по тексту *!*/
  width: 200px; /* Автоматическая ширина по тексту */
  height: auto; /* Автоматическая высота */
  height: 25px; /* Автоматическая высота */
  white-space: nowrap; /* Запрещаем перенос текста */
  margin: 0 auto; /* Центрирует по горизонтали */
}
.backgraund-basket {
  background: white;
}

@keyframes show-basket {
  from {
    top: 70%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

.toast {
  z-index: 1050;
  /*background-color: #669bbc;*/
  background-color: #780000;
  color: white;
  top: 70px;

  animation: scaleIn 0.3s ease-out;
  transform-origin: center;
}
@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}







